.about {
   width: 100%;
   display: block;
   overflow: auto;
   color: whitesmoke;
   background-color: #2b3546;
   padding-bottom: 1rem;
}
.about h1 {
   font-family: "EB Garamond", serif;
   /* font-family: "Helvetica", sans-serif; */
   font-size: 10vw;
   padding: 3rem 2rem;
}
.about h2 {
   font-family: "Helvetica", sans-serif;
   /* font-family: "EB Garamond", serif; */
   font-size: 5vw;
   padding: 2rem 2rem;
   text-align: center;
}
.about h3 {
   font-family: "EB Garamond", serif;
   padding: 1rem 2rem;
   text-align: center;
}
.about p {
   font-family: "Helvetica", sans-serif;
   font-size: 1.2rem;
   padding: 1rem 2rem;
   text-indent: 2rem;
   line-height: 1.5rem;
   color: #c5c7cc;
}
.aboutImage {
   width: auto;
   height: 25vh;
   background-image: url("images/placeholder.png");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}
