.about {
   width: 100%;
   display: block;
   overflow: auto;
   color: #ebecee;
   background-color: #373f4b;
   padding-bottom: 1rem;
}
.about h1 {
   font-family: "EB Garamond", serif;
   /* font-family: "Helvetica", sans-serif; */
   font-size: 10vw;
   margin: 3rem 2rem 2rem 2rem;
   border-bottom: solid;
   border-width: 5px;
   border-color: #f15946;
}
.about h2 {
   font-family: "Helvetica", sans-serif;
   /* font-family: "EB Garamond", serif; */
   font-size: 6vw;
   margin: 2rem 2rem 1rem;
   text-align: center;
}
.about h2:last-child {
   margin: 1rem 2rem 2rem;
}
.about h3 {
   font-family: "EB Garamond", serif;
   padding: 1rem 2rem;
   text-align: center;
}
.about p {
   font-family: "Helvetica", sans-serif;
   font-size: 1.2rem;
   padding: 1rem 2rem;
   text-indent: 2rem;
   line-height: 1.5rem;
   color: #d7d8db;
}
.placeholder {
   width: 100%;
   height: auto;
}
.colored {
   border-bottom: solid;
   border-width: 5px;
   border-color: #f15946;
   /* padding: none; */
   margin: 2rem auto;
}
