nav {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   z-index: 98;
   background-image: radial-gradient(ellipse, #242c3a, #0c0f14);
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
nav a {
   font-family: "Helvetica", sans-serif;
   font-size: 2rem;
   margin: 2rem 1rem;
   color: #ebecee;
}
.navButton {
   z-index: 99;
   position: fixed;
   margin: 1rem;
   top: 1rem;
   right: 1rem;
   width: 65px;
   height: 65px;
   background-size: cover;
}
.show {
   display: flex;
}
.open {
   background-image: url("images/menu.svg");
}

.close {
   background-image: url("images/close.svg");
   margin: 1.35rem;
   width: 55px;
   height: 55px;
}

.open:hover {
   animation: rotate-center 0.25s ease-out both;
}
.close:hover {
   animation: rotate-center 0.25s ease-out reverse both;
}

@keyframes rotate-center {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(180deg);
   }
}
