nav {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   z-index: 2;
   background-image: radial-gradient(ellipse, #2b3546, #13181f);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
nav a {
   font-family: "Helvetica", sans-serif;
   font-size: 2rem;
   margin: 2rem 1rem;
   color: whitesmoke;
}
.navButton {
   z-index: 3;
   position: fixed;
   top: 1rem;
   right: 1rem;
   width: 65px;
   height: 65px;
   background-size: cover;
}

.close {
   background-image: url("images/menu.svg");
}

.open {
   background-image: url("images/close.svg");
}

.open:hover {
   animation: rotate-center 0.35s ease-in both;
}
.close:hover {
   animation: rotate-center 0.35s ease-in reverse both;
}

@keyframes rotate-center {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(180deg);
   }
}
